body{
    background-color: black;
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background-color: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
div.post{
    background-color: white;
    margin-top: 90px;
}
div.post img{
    width: 100%;
}
div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 0px;
    text-align: right;
    color: white;
    }
div.post h2, div.post p{
    padding: 1px;
    margin: 0;
}
div.container{
    width: 500px;
    margin: auto;
}